<div class="appointment info">
  <p><b>Name:</b> <%= a.name %></p>
  <p><b>Email:</b> <%= a.email %></p>
  <p><b>Phone:</b> <%= a.phone %></p>
  <p><b>Time:</b> <%= a.time %></p>
  <p><b>Reason:</b> <%= a.reason %></p>
</div>
