<%= render 'home/header' %>

<div id="appointment-wrapper">
  <div id="side-pane" class="appointment">
    <h1>Appointments</h1>
    <h2>Actions</h2>
    <ul>
      <li><%= link_to "Create an Appointment", new_admin_appointment_path %></li>
    </ul>

    <h2>Display</h2>
    <ul>
      <li><%= link_to "All Appointments", :show => 'all' %></li>
      <li><%= link_to "Current Appointments", :show => 'current' %></li>
      <li><%= link_to "Past Appointments", :show => 'past' %></li>
    </ul>
  </div>

  <div id="appointment-pane">
    <% if @appointments.empty? %>
      <p>No appointments matched this criteria.</p>
    <% end %>

    <% @appointments.each do |a| %>
      <div class="appointment-container">
        <%= render 'info', :a => a %>

        <div class="appointment extra-info">
          <ul>
            <li><%= link_to "Edit #{a.first_name}'s Appointment", edit_admin_appointment_path(a)%></li>
            <li><%= link_to "Delete #{a.first_name}'s Appointment", admin_appointment_path(a),
                             method: :delete, data: {confirm: "You sure?"} %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
