<header>
  <h1><%= link_to "SL Mobile Mechanic", root_url, class: "header_main" %></h1>
  <nav>
    <ul>
      <li><%= link_to 'About', '/home/about', class: "header_sub"%></li>
      <li><%= link_to 'Services', '/home/services', class: "header_sub" %></li>
      <li><%= link_to 'Reviews', '/reviews', class: "header_sub" %></li>
      <li><%= link_to 'Contact', '/home/contact', class: "header_sub" %></li>
    </ul>
  </nav>
</header>
