<%= render 'home/header' %>

<div class="appointment head">
  <h1>All Appointments</h1>
</div>

<div class="appointment options">
  <ul>
    <li><%= link_to "Make an Appointment", new_appointment_path %></li>
    <li><%= link_to "Cancel an Appointment", new_appointment_path %></li>
  </ul>
</div>

<% if @appointments.empty? %>
  <p>No appointments =(</p>
<% end %>

<% @appointments.each do |a| %>
  <div class="container">
    <%= render 'info', :a => a %>

    <div class="appointment extra-info">
      <ul>
        <li><%= link_to "Edit #{a.first_name}'s Appointment", edit_appointment_path(a)%></li>
        <li><%= link_to "Delete #{a.first_name}'s Appointment", appointment_path(a),
                         method: :delete, data: {confirm: "You sure?"} %></li>
      </ul>
    </div>
  </div>
<% end %>

